main {
    background-color: $white-1;
    
    .container {
        @include container();

        .title {
            text-align: center;

            h3 {
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.5rem;
                line-height: 1.7rem;
                color: $gray-1;
            }
        }

        #service {
            padding-top: 5.2rem;

            p {
                font-size: 1.5rem;
                line-height: 1.7rem;
                color: $gray-1;
            }

            .service-card-group {
                display: flex;
                margin-top: 3rem;
                justify-content: center;
                gap: 1.2rem;
                align-items: center;

                .service-card {
                    width: clamp(20rem, 100%, 31rem);
                    height: 100%;
                    background-color: $white-1;
                    border-radius: 1rem;
                    margin-bottom: 3rem;
                    box-shadow: 0px 3px 11px -3px rgba(145, 145, 145, 0.6);

                    .service-card-image {
                        width: 100%;
                        height: 20rem;
                        border-bottom: 0.3rem solid $purple;
                        border-top-left-radius: 1rem;
                        border-top-right-radius: 1rem;

                        @media (max-width: 400px) {
                            height: 18rem;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            border-top-left-radius: inherit;
                            border-top-right-radius: inherit;
                        }
                    }

                    .service-card-content {
                        height: calc(36rem - 20rem);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .service-card-content-container {
                            max-width: 20.5rem;
                            text-align: left;

                            p {
                                margin-top: 1rem;
                            }
                        }
                    }
                }
            }
        }

        #differential {
            padding-top: 5.2rem;

            .differential-card-group {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 1.5rem;
                margin-top: 3rem;

                .differential-card {
                    width: 24rem;
                    height: 100%;
                    padding: 1rem;
                    text-align: center;

                    .differential-card-content {
                        margin-top: 1.8rem;

                        p {
                            margin-top: 0.8rem;
                            font-size: 1.7rem;
                            line-height: 1.9rem;
                            color: $gray-1;
                        }
                    }
                }
            }
        }

        #persona {
            padding-top: 5.2rem;

            .persona-card-group {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 1.5rem;
                position: relative;
                margin-top: 3rem;
                padding-bottom: 1.5rem;

                .persona-card {
                    width: clamp(20rem, 100%, 31rem);
                    height: 100%;
                    padding: 2rem;
                    border-radius: 1rem;
                    background-color: $white-2;

                    .persona-card-image {
                        width: 5.5rem;
                        height: 5.5rem;

                        img {
                            width: 100%;
                        }
                    }

                    .persona-card-content {
                        p {
                            font-size: 1.5rem;
                            line-height: 1.7rem;
                            color: $black-1;
                        }
                    }

                    .persona-card-image {
                        display: flex;
                        align-items: center;
                        margin-top: 2rem;
                        gap: 1.7rem;

                        .persona-name p:first-child {
                            font-weight: 700;
                            font-size: 1.7rem;
                            line-height: 2.2rem;
                            margin-bottom: 0.5rem;
                            color: $black-2;
                        }

                        .persona-name p:last-child {
                            color: $gray-2;
                            font-size: 1.5rem;
                        }
                    }
                }
            }

            .owl-theme .owl-dots .owl-dot.active span {
                background-color: $purple;
            }

            .owl-theme .owl-nav {
                font-weight: 100;
                font-size: 9rem;
                color: $gray-3;
            }

            .owl-prev,
            .owl-next {
                display: block;
                position: absolute;
                top: 2.6rem;
               
                @media (max-width: 1050px) {
                    display: none !important;
                } 
            }

            .owl-carousel .owl-nav button.owl-prev {
                left: -4rem;
            }
            .owl-carousel .owl-nav button.owl-next {
                right: -4rem;
            }
            .owl-carousel .owl-nav button.owl-prev:hover,
            .owl-carousel .owl-nav button.owl-next:hover {
                background-color: inherit;
                color: $purple;
            }
        }
    }
}
