$purple: #692fa5;
$black-1: #232323;
$black-2: #333333;
$white-1: #ffffff;
$white-2: #f3f3f3;
$gray-1: #666666;
$gray-2: #707070;
$gray-3: #d8d8d8;

@keyframes floating {
    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(3rem);
    }
}

@keyframes vapour-coffee {
    0% {
        opacity: 0;
        transform: translateY(0) scaleX(1);
    }

    15% {
        opacity: 1;
    }

    50% {
        transform: translateY(-100px) scaleX(5);
    }

    100% {
        opacity: 0;
        transform: translateY(-250px) scaleX(10);
    }
}

@mixin container() {
    height: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 1.2rem;
}
